
@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities;
@model LibraryViewModel

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}


@if (SignInManager.IsSignedIn(User))
{

    @foreach (var library in Model.Items)
    {

        <div class="col-sm-4 col-md-3 offset-md-1">

            <figure>
                <a asp-area="" asp-controller="Home" asp-action="szczegoly" asp-route-id=@library.ID><img src="@library.BlobID"></a>
                <figcaption>@library.Title</figcaption>
                @if (library.State == false)
                {
                    <div class="badge badge-pill badge-success" style="font-size:10px"><b>Tytuł dostępny</b> </div>
                }
                else
                {
                    <div class="badge badge-pill badge-danger" style="font-size:10px"><b>Tytuł wypożyczony </b> </div>
                }
                <div class="text-info">@library.TypeofMedia</div>
                <h1>Przykro nam ale niestety nie posiadamy takiego tytułu </h1>

            </figure>
        </div>


     }

}


